 <form  (ngSubmit)="onSubmit()"> 
    <div class="example-container">
    <mat-form-field>
        <input matInput placeholder="First name" [(ngModel)]="firstName" name="firstName">
      </mat-form-field>
      
      <mat-form-field>
        <input matInput placeholder="Last name" [(ngModel)]="lastName" name="lastName">
      </mat-form-field>
      
      <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]="email" name="email">
      </mat-form-field>
    <button mat-button type="submit">Complete</button>
  </div>
 </form> 
<button mat-button (click)="closeForm()">Close</button>
