
<form (ngSubmit)="onSubmit()" [formGroup]="studentForm">
  <h3>{{errorMessage}}</h3>
  <div class="form-container form">
    <mat-form-field class="form-field">
      <input matInput placeholder="First name" formControlName="firstName">
    </mat-form-field>

    <mat-form-field class="form-field">
      <input matInput placeholder="Last name" formControlName="lastName">
    </mat-form-field>

    <mat-form-field class="form-field">
      <input matInput placeholder="Email" formControlName="email">
    </mat-form-field>

    <div class="button-container">
      <button mat-raised-button color="primary" type="submit">Complete</button>
      <button mat-raised-button type="button" (click)="closeForm()">Close</button>
    </div>
  </div>
</form>
