<button class="btn btn-primary" (click)="addTeacher()">Add Teacher</button>
<table mat-table [dataSource]="teachers" class="mat-elevation-z8">
    <ng-container matColumnDef="teacher">
      <th mat-header-cell *matHeaderCellDef>teacher</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>
    <ng-container matColumnDef="shortinfo">
        <th mat-header-cell *matHeaderCellDef>short info</th>
        <td mat-cell *matCellDef="let element">{{element.shortInfo}}</td>
      </ng-container>
    <ng-container matColumnDef="subjects">
      <th mat-header-cell *matHeaderCellDef>subjects</th>
      <td mat-cell *matCellDef="let element">{{element.subjects}}
        <a mat-raised-button matTooltip="asign subject to teacher" (click)="asignSubjectToTeacher(element.id)"> <mat-icon>library_add</mat-icon></a>
        <a mat-raised-button matTooltip="remove subject" (click)="removeSubject(element.id)"><mat-icon>remove_circle_outline</mat-icon></a>
      </td>
    </ng-container>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <span class="material-icons" style="color: rgb(255, 0, 0);" (click)="deleteStudent(element.id)">restore_from_trash</span>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
