.material-icons:hover {
    cursor: pointer;
  }

.container {
    max-width: 800px; 
    margin: 0 auto; 
    text-align: center; 
  }
  
  .btn {
    margin: 10px; 
  }
  
  .mat-elevation-z8 {
    margin-top: 20px; 
  }
  